<app-title></app-title>
<app-slider></app-slider>
<app-modal></app-modal>
<div class="container">
    <div class="gallery-index">
        <app-image 
            *ngFor="let item of items; let i=index"
            [type]="'medium pointer'" 
            [src]="imageContainerURL+item.image.slice(2)"
            [text]="item.name"
            (click)="setItem(item.id, i)"
            [active]="active[i]"
            >
        </app-image>
    </div>
    <div class="main-gallery">
        <div class="gallery-container">
            <div class="horizontal-gallery" *ngIf="itemSelected">
                <app-image 
                    *ngFor="let item of itemSelected.kitchens"
                    [type]="'small'" 
                    [src]="imageContainerURL+item.photos[0].image.slice(2)"
                    (click)="setKitchen(item.id)"
                    >
                </app-image>
            </div>

            <div *ngIf="kitchenSelected">
                <app-image
                    *ngFor="let item of kitchenSelected.photos"
                    [type]="'big'" 
                    [src]="imageContainerURL+item.image.slice(2)"
                    [carousel]="active">
                </app-image>
            </div>
            <h3>CASALUX Luxury Kitchen Collection</h3>
            <app-button 
                *ngIf="favoritePhoto"
                class="heart" 
                [type]="'heart'"
                [like]="favoritePhoto.favorite"
                (sendLike)="sendFavoritePhoto($event)">
            </app-button>
        </div>
    </div>
    <app-description 
        *ngIf="itemSelected"
        [textDescription]="itemSelected.description"
        [contents]="itemSelected.contents"
        [kitchenSelected]="kitchenSelected.name">
    </app-description>
</div>
