<app-title></app-title>

<app-modal></app-modal>
<div class="container">
    <div class="gallery-index">
        <app-image 
            [type]="'medium'" 
            [src]="imageContainerURL+item.image.slice(2)"
            [text]="item.name">
        </app-image>
        <app-image 
            *ngFor="let item of item.kitchens; let i=index"
            [type]="'medium pointer'" 
            [src]="imageContainerURL+item.photos[0].image.slice(2)"
            [text]="item.name"
            (click)="setPhotos(item.id, i)"
            [active]="active[i]"
            >
        </app-image>
    </div>
    <div class="main-gallery">
        <div class="gallery-container">
            <div class="horizontal-gallery">
                <app-image 
                    *ngFor="let item of photos"
                    [type]="'small'" 
                    [src]="imageContainerURL+item.image.slice(2)"
                    (click)="setPhoto(item.id)"
                    >
                </app-image>
            </div>
            <app-image 
                [type]="'big'" 
                [src]="imageContainerURL+photo.image.slice(2)">
            </app-image>
            <h3>CASALUX Luxury Kitchen Collection</h3>
            <app-button class="heart" [type]="'heart'"></app-button>
        </div>
    </div>
    <app-description 
        [textDescription]="item.description"
        [contents]="item.contents"
        [kitchenSelected]="kitchenSelected">
    </app-description>
</div>
