<app-title></app-title>
<app-modal></app-modal>
<div class="container">
    <div class="gallery-index">
        <app-image 
            *ngFor="let item of items; let i=index"
            [type]="'medium pointer'" 
            [src]="imageContainerURL+item.image.slice(2)"
            [text]="item.name"
            (click)="setItem(item.id, i)"
            [active]="active[i]"
            >
        </app-image>
    </div>
    <div class="gallery-container">
        <app-slider [type]="'horizontal'" [kitchens]="kitchens" (sendKitchensEvent)="setKitchen($event)"></app-slider>
        <app-slider [type]="'vertical'" *ngIf="kitchenSelected" [photos]="kitchenSelected.photos" ></app-slider>
        <div class="banner">
            <img src="assets/images/banner.PNG" alt="">
        </div> 
    </div>
  <app-description 
        *ngIf="itemSelected"
        [textDescription]="itemSelected.description"
        [contents]="itemSelected.contents"
        [kitchenSelected]="kitchenSelected.name">
    </app-description>
</div>
