<swiper
  *ngIf="kitchens"
  [slidesPerView]="3"
  [spaceBetween]="30"
  [slidesPerGroup]="3"
  [loop]="true"
  [loopFillGroupWithBlank]="true"
  [style.--swiper-navigation-color]="'green'"
  [navigation]="true"
  (slideChange)="onSlideChange($event)"
  #swipe
  class="horizontal-gallery"
>
  <ng-template swiperSlide let-data *ngFor="let item of kitchens, let i=index">
    <app-image
      [type]="'small'" 
      [src]="imageContainerURL+item.photos[0].image.slice(2)"
      (slideChange)="sendKitchen(item)"
      (click)="sendKitchen(item)"
      [active]="data.isActive"
      >
    </app-image> 
</ng-template>
</swiper> 


<swiper
  *ngIf="photos"
  [direction]="'vertical'"
  [pagination]="{
    clickable: true
  }"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange($event)"
  [style.--swiper-theme-color]="'green'"
  class="vertical-gallery"
>
<ng-template swiperSlide *ngFor="let item of photos, let i=index">
      <app-image
        [type]="'big'" 
        [src]="imageContainerURL+item.image.slice(2)"
        >
      </app-image>
  </ng-template>
</swiper> 

