@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');


.wrapper{
	width: 100%;
}


.wrapper .modal_box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}

.wrapper .modal_box .modal_bg_shadow{
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.wrapper .modal_box .modal_box_wrap{
	background: rgb(141, 140, 140);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	border-radius: 5px;
	width: 350px;
    height: 400px;
    padding: 30px;
}
 

.wrapper .modal_box .modal_box_wrap .modal_header{
	padding: 20px 20px 0px 20px;
	border-bottom: 1px solid #e0e0e0;
	height: 50px;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}	


.wrapper .modal_box .modal_box_wrap .modal_body{
    padding: 15px 20px;
	line-height: 21px;
    height: 140px;
}


.wrapper .modal_box .modal_box_wrap .modal_footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wrapper .modal_box.active{
	display: block;
}

.container {
    background-color: white;
    height: 100%;
}

h1 {
    font-size: 25px;
    color: rgb(97, 97, 97);
}

p {
    font-size: 20px;
    color: rgb(78, 78, 78);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 20px;
    text-align: justify;
}