<div [ngClass]="type" >
    <div [ngClass]="active == true ? 'active': 'inactive'">
        <img [src]="src" (load)="hideLoader()" (error)="hideLoader()">
        <h3 *ngIf="text">{{text}}</h3>
    </div>
    <div [ngStyle]="{height:height+'px',width:width+'px'}" *ngIf="isLoading">
        <img [src]=loader />
      </div>
    <div class="carousel" *ngIf="carousel.length">
        <div [ngClass]="item?' circle circle-icon-selected':'circle circle-icon'" *ngFor="let item of carousel"></div>
    </div>
</div>
