.link {
    border: none;
    background-color: transparent;
    color: white;
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    height: 60px;
    font-family: "Titillium Web", sans-serif;
    cursor: pointer;
}

.link:hover {
    color: #fff;
    background-color: rgb(42, 112, 42);
}

.text {
    border: none;
    background-color: inherit;
    padding: 2px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: rgb(0, 165, 0);
    border-bottom: 1px solid rgb(0, 165, 0);
}