.title {
    margin-top: 50px;
    font-size: 40px;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 50px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.699);
}

.container {
    position: absolute;
    background-color: rgb(170, 170, 170);
    width: 180px;
    height: 700px;
    top: 0;
    left: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 15px 0px 15px;
}


.less .description {
    display: block;
}

.vertical-gallery {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.less .images :not(:nth-child(-n+2)){
    display: none;
}

.more .description {
    display: none;
}

.more .images {
    max-height: 400px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: grey; 
}
