<div [class]="'container '+classDescription">
    <div>
        <h1 class="title">{{kitchenSelected}}</h1>
        <p class="description">{{textDescription}}</p>
    </div>
    <div class="vertical-gallery">
        <p>WHAT YOU HAVE IN THIS COLLECTION</p>
        <div class="images">
            <app-image 
                *ngFor="let item of contents"
                [type]="type" 
                [src]="imageContainerURL+item.image.slice(2)"
                [text]="item.name"
                >
            </app-image>
        </div>
        <app-button [type]="'text'" [text]="textButton" (click)="setClassDescription()"></app-button>
    </div>
</div>
